body {
	font-family: Arial, sans-serif;
	color: white;
	background-color: black;
	padding-left: 5px;
}

.big {
	font-size: 200%;
	white-space: nowrap;
}

a:link {
	text-decoration: none;
	color: lightblue;
}

a:visited {
	text-decoration: none;
	color: lightblue;
}

a:active {
        text-decoration: none;
}

